<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Tiable</title>
</head>
<body>


<div class="btn-group" role="group" aria-label="Basic example" th:fragment="topMenu">
  <button type="button" class="btn btn-primary">Create New</button>
  <button type="button" class="btn btn-light">Khmer</button>
  <button type="button" class="btn btn-light">Korea</button>
  <button type="button" class="btn btn-light">English</button>
</div>


<table class="table" th:fragment="mytable">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Title</th>
    <th scope="col">Describtion</th>
    <th scope="col">Image</th>
    <th scope="col">Action</th>
  </tr>
  </thead>

  <tbody>
  <tr th:each="a">
    <th></th>
    <td></td>
    <td></td>
    <td>URL</td>
    <td>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary">View</button>
        <button type="button" class="btn btn-secondary">Edit</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>


</body>
</html>