<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Update Form</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>


<div style="width: 50%;margin: 100px auto;">
    <form  th:action="@{'/update/' + ${picture.id}}" method="post">
        <h1>Update the information</h1>
        <br/>

        <div class="mb-3">
            <label for="title" class="form-label">Email address</label>
            <input type="text" class="form-control" th:value="${picture.title}"  id="title" name="title">
        </div>
        <div class="mb-3">
            <label for="dis" class="form-label">Describe</label>
            <textarea class="form-control" th:text="${picture.getDescreption}" id="dis" rows="3" name="dis"></textarea>
        </div>

        <div class="col-lg-2">
            <button type="submit" class="btn btn-primary btn-lg">submit</button>
        </div>
    </form>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>